#main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    width: 100%;
    height: 10%;
    margin-bottom: 60px;
    right: 5%;
}

#sub-header {
    margin: 0px 0.75% 0px 0.75%;
    height: 100%;
    cursor: pointer;
    color: var(--header-color);
}