#header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

#sub-header {
    margin: 0;
    height: 100%;
    cursor: pointer;
    color: var(--header-color);
}